# Node
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Puppeteer data
cookies.json
.cache/
